---
import type { Page, PaginateFunction } from 'astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import Posts from '@/components/Posts.astro';
import { defaultLang } from '@/i18n/ui';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const allPosts = await getCollection('blog');
  const categories = [...new Set(allPosts.map((post) => post.data.category))];
  const paginates = categories.flatMap((category) => {
    const posts = allPosts
      .filter((post) => {
        const [slugLang] = post.slug.split('/');
        return post.data.category === category && slugLang === 'en';
      })
      .sort(
        (a, b) =>
          (a.data.lastUpdated ?? a.data.published).getTime() -
          (b.data.lastUpdated ?? b.data.published).getTime(),
      )
      .reverse();

    return paginate(posts, {
      pageSize: 5,
      params: { category },
    });
  });

  return paginates;
}

const { page } = Astro.props;
const params = Astro.params;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={`Category: ${params.category} | ${t('main.title')}`}
  description={t('categories.description')}
  path={`/blog/en/categories/${params.category}`}
  lang={lang}
  og={{
    enabled: true,
  }}
  hreflangs={[
    { path: `/blog/categories/${params.category}`, hreflang: defaultLang },
    { path: `/blog/en/categories/${params.category}`, hreflang: 'en' },
    { path: `/blog/en/categories/${params.category}`, hreflang: 'x-default' },
  ]}
>
  <main>
    <Posts title={`Category: ${params.category}`} page={page} />
  </main>
</Layout>
