---
import type { Page, PaginateFunction } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Posts from '@/components/Posts.astro';
import { PAGINATION } from '@/config/site';
import { useTranslations, generateHreflangs } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const allPosts = await getCollection('blog');
  const publishedPosts = allPosts.filter((post) => post.data.isPublished);

  const categories = [
    ...new Set(publishedPosts.map((post) => post.data.category)),
  ];

  return categories.flatMap((category) => {
    const posts = publishedPosts
      .filter((post) => {
        const [slugLang] = post.slug.split('/');
        return post.data.category === category && slugLang === 'en';
      })
      .sort(
        (a, b) =>
          (a.data.lastUpdated ?? a.data.published).getTime() -
          (b.data.lastUpdated ?? b.data.published).getTime(),
      )
      .reverse();

    if (posts.length === 0) return [];

    return paginate(posts, {
      pageSize: PAGINATION.pageSize,
      params: { category },
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
const lang = 'en';
const t = useTranslations(lang);
const basePath = `blog/categories/${params.category}`;
---

<Layout
  title={`Category: ${params.category} | ${t('main.title')}`}
  description={t('categories.description')}
  path={`/en/blog/categories/${params.category}`}
  lang={lang}
  og={{
    enabled: true,
  }}
  hreflangs={generateHreflangs(basePath)}
>
  <main>
    <Posts title={params.category} page={page} />
  </main>
</Layout>
