---
import { getEntry } from 'astro:content';
import '@/styles/articles.css';
import '@fontsource-variable/m-plus-2';
import { getCollection, type CollectionEntry } from 'astro:content';

import Figure from '@/components/Figure.astro';
import Link from '@/components/Link.astro';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: CollectionEntry<'page'>;
};

export async function getStaticPaths() {
  const pages = await getCollection('page');

  return pages.map((page) => {
    const slug = page.slug;
    return {
      params: {
        slug,
      },
      props: {
        page,
      },
    };
  });
}
const { page } = Astro.props;
const { Content } = await page.render();
const components = {
  figure: Figure,
  a: Link,
};
const meta = await getEntry('site', 'meta');
---

<Layout
  title={`${page.data.title} | ${meta.data.index.title}`}
  description={page.data.description}
  path={`/${page.slug}`}
  og={{
    enabled: true,
  }}
>
  <main>
    <article>
      <h1>{page.data.title}</h1>
      <Content components={components} />
    </article>
  </main>
</Layout>
