---
import '@/styles/prose.css';
import { getCollection, type CollectionEntry } from 'astro:content';

import Figure from '@/components/Figure.astro';
import Link from '@/components/Link.astro';
import { useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: CollectionEntry<'page'>;
};

export async function getStaticPaths() {
  const pages = await getCollection('page');

  return pages.map((page) => {
    const slug = page.slug;
    return {
      params: {
        slug,
      },
      props: {
        page,
      },
    };
  });
}
const { page } = Astro.props;
const { Content } = await page.render();
const components = {
  figure: Figure,
  a: Link,
};
const t = useTranslations('ja');
---

<Layout
  title={`${page.data.title} | ${t('main.title')}`}
  description={page.data.description}
  path={`/${page.slug}`}
  og={{
    enabled: true,
  }}
  hreflangs={[
    { path: `/${page.slug}`, hreflang: 'ja' },
    { path: `/${page.slug}`, hreflang: 'x-default' },
  ]}
>
  <article>
    <h1>{page.data.title}</h1>
    <Content components={components} />
  </article>
</Layout>
