---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import { CalendarIcon, ReloadIcon } from '@radix-ui/react-icons';

import Pagination from './AstroPagination.astro';

import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};
const { page } = Astro.props;
const url = Astro.url;
const lang = getLangFromUrl(url);
---

<>
  <ul class="space-y-6">
    {
      page.data.map((post) => {
        const { slug, data, collection } = post;
        const [, ...rest] = slug.split('/');
        const translatePath = useTranslatedPath(lang);
        const path = translatePath(rest.join('/'));
        console.log(path);
        return (
          <li>
            <article>
              <span>
                <time
                  class="flex items-center justify-start gap-2"
                  datetime={data.published.toISOString()}
                >
                  {data.lastUpdated ? (
                    <ReloadIcon className="size-4" />
                  ) : (
                    <CalendarIcon className="size-4" />
                  )}
                  {new Intl.DateTimeFormat('en-US', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  }).format(data.lastUpdated ?? data.published)}
                </time>
              </span>
              <a href={`/${collection}/${path}`}>
                <h2>{data.title}</h2>
              </a>
              <span
                id="description"
                class="text-xs text-muted-foreground md:text-sm"
              >
                {data.description}
              </span>
            </article>
          </li>
        );
      })
    }
    <Pagination page={page} />
  </ul>
</>
