---
import type { Page, PaginateFunction } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Posts from '@/components/Posts.astro';
import { PAGINATION } from '@/config/site';
import { useTranslations, generateHreflangs } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const allPosts = await getCollection('blog');
  const publishedPosts = allPosts.filter((post) => post.data.isPublished);

  const tags = [
    ...new Set(publishedPosts.flatMap((post) => post.data.tags ?? [])),
  ];

  return tags.flatMap((tag) => {
    const posts = publishedPosts
      .filter((post) => {
        const [slugLang] = post.slug.split('/');
        return post.data.tags?.includes(tag) && slugLang === 'en';
      })
      .sort(
        (a, b) =>
          (a.data.lastUpdated ?? a.data.published).getTime() -
          (b.data.lastUpdated ?? b.data.published).getTime(),
      )
      .reverse();

    if (posts.length === 0) return [];

    return paginate(posts, {
      pageSize: PAGINATION.pageSize,
      params: { tag },
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
const lang = 'en';
const t = useTranslations(lang);
const basePath = `blog/tags/${params.tag}`;
---

<Layout
  title={`Tag: #${params.tag} | ${t('main.title')}`}
  description={t('tags.description')}
  path={`/en/blog/tags/${params.tag}`}
  lang={lang}
  og={{
    enabled: true,
  }}
  hreflangs={generateHreflangs(basePath)}
>
  <main><Posts title={`#${params.tag}`} page={page} /></main>
</Layout>
